# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [41]:
chipo = pd.read_csv("../../#/chipotle.tsv", sep="\t")
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [8]:
func_price = lambda x: round(float(x.replace("$","")))
chipo["price"] = chipo["item_price"].apply(func_price)
chipo[chipo["price"] > 10]["item_name"].value_counts().count()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
df = chipo[chipo["price"] > 10]
df = df[["item_name","item_price"]].drop_duplicates()
df

                 item_name item_price
4             Chicken Bowl    $16.98
5             Chicken Bowl    $10.98
7            Steak Burrito    $11.75
13            Chicken Bowl    $11.25
23         Chicken Burrito    $10.98
...                    ...        ...
3891  Chicken Crispy Tacos    $16.98
4152         Bottled Water    $15.00
4354      Steak Soft Tacos    $18.50
4489   Chips and Guacamole    $17.80
4510         Barbacoa Bowl    $11.49

[96 rows x 2 columns]

### Step 6. Sort by the name of the item

In [16]:
df.sort_values("item_name")

              item_name item_price
3389  6 Pack Soft Drink    $12.98
4510      Barbacoa Bowl    $11.49
39        Barbacoa Bowl    $11.75
471       Barbacoa Bowl    $11.48
3276   Barbacoa Burrito    $11.48
...                 ...        ...
57       Veggie Burrito    $11.25
435      Veggie Burrito    $10.98
186   Veggie Salad Bowl    $11.25
738   Veggie Soft Tacos    $11.25
3889  Veggie Soft Tacos    $16.98

[96 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [40]:
chipo.head()
chipo.groupby(by=["price"]).sum("quantity").sort_values("quantity", ascending=False).iloc[0]

order_id    1322595
quantity       1450
Name: 9, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [32]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"].count().order_id

18

### Step 9. How many times did someone order more than one Canned Soda?

In [38]:
soda = chipo[chipo["item_name"]=="Veggie Salad Bowl"].count().order_id
others = chipo.groupby(by=["item_name"]).count()
others["frec"] = others["order_id"] - soda
others[others["frec"]>0]

,order_id,quantity,choice_description,item_price,price,frec
item_name,,,,,,
6 Pack Soft Drink,54,54,54,54,54,36
Barbacoa Bowl,66,66,66,66,66,48
Barbacoa Burrito,91,91,91,91,91,73
Barbacoa Soft Tacos,25,25,25,25,25,7
Bottled Water,162,162,0,162,162,144
Canned Soda,104,104,104,104,104,86
Canned Soft Drink,301,301,301,301,301,283
Carnitas Bowl,68,68,68,68,68,50
Carnitas Burrito,59,59,59,59,59,41
Carnitas Soft Tacos,40,40,40,40,40,22
Chicken Bowl,726,726,726,726,726,708
Chicken Burrito,553,553,553,553,553,535
Chicken Crispy Tacos,47,47,47,47,47,29
Chicken Salad Bowl,110,110,110,110,110,92
Chicken Soft Tacos,115,115,115,115,115,97
Chips,211,211,0,211,211,193
Chips and Fresh Tomato Salsa,110,110,0,110,110,92
Chips and Guacamole,479,479,0,479,479,461
Chips and Roasted Chili Corn Salsa,22,22,0,22,22,4
Chips and Tomatillo Green Chili Salsa,43,43,0,43,43,25
Chips and Tomatillo Red Chili Salsa,48,48,0,48,48,30
Chips and Tomatillo-Green Chili Salsa,31,31,0,31,31,13
Chips and Tomatillo-Red Chili Salsa,20,20,0,20,20,2
Izze,20,20,20,20,20,2
Nantucket Nectar,27,27,27,27,27,9
Side of Chips,101,101,0,101,101,83
Steak Bowl,211,211,211,211,211,193
Steak Burrito,368,368,368,368,368,350
Steak Crispy Tacos,35,35,35,35,35,17
Steak Salad Bowl,29,29,29,29,29,11
Steak Soft Tacos,55,55,55,55,55,37
Veggie Bowl,85,85,85,85,85,67
Veggie Burrito,95,95,95,95,95,77

In [39]:
soda

18